@font-face {
    font-family: 'carbontype';
    src: url('/fonts/carbontype.eot');
    src: url('/fonts/carbontype.eot') format('embedded-opentype'),
         url('/fonts/carbontype.woff2') format('woff2'),
         url('/fonts/carbontype.woff') format('woff'),
         url('/fonts/carbontype.ttf') format('truetype'),
         url('/fonts/carbontype.svg#carbontype') format('svg');
}
